.container {
	max-width: 1120px;
	margin: 0 auto;
	padding: 30px 40px;
}

.header {
	background: #fff;
	max-width: 1120px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 24px;
}

.header-container {
	display: flex;
	justify-content: flex-end;
	padding: 20px 40px;
}

.auth-info-container {
	display: flex;
}

.user {
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 20px;
}

.auth-link a {
	cursor: pointer;
	color: #444;
	text-decoration: none;
	border-bottom: 1px solid #444;
}

.auth-link a:hover {
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.content {
	display: flex;
	box-sizing: border-box;
	align-items: flex-start;
	margin: 0 0 0 -20px;
}

.main-row-container {
	margin-bottom: 30px;
}

.main-row {
	flex: 0 0 75%;
	display: flex;
	flex-wrap: wrap;
}

.description-row {
	box-sizing: border-box;
	background: #fff;
	flex: 0 0 25%;
	padding: 20px;
}

.description-row h1 {
	margin: 0 0 15px 0;
}

.card-group {
	margin-bottom: 50px;
}

.card-wrap {
	cursor: pointer;
	padding: 5px;
}

.card {
	position: relative;
	background: #fff;
	flex: 0 0 200px;
	width: 200px;
	border: 1px solid rgba(176, 175, 175, 0.52);
	padding: 16px 10px;
}

.open-group {
	display: block;
	position: absolute;
	right: 3px;
	bottom: 3px;
	width: 20px;
	height: 16px;
	transition-duration: 0.4s;
}

.open-group.active {
	transform: rotate(180deg);
}

.open-group svg {
	width: 100%;
	height: 100%;
}

.card-item {
	margin-left: 15px;
	visibility: visible;
	opacity: 1;
	transition: all 0.5s ease 0s;
}

.isHidden {
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease 0s;
}

.displayNone {
	display: none;
}

.hidden {
	display: none!important;
}

.card-title {
	font-size: 20px;
	line-height: 24px;
}

.title {
	font-size: 24px;
	line-height: 28px;
}

.description {
	margin-bottom: 20px;
}

.description-row textarea {
	font-family: 'Roboto', sans-serif;
	resize: none;
	box-sizing: border-box;
	border: 1px solid rgba(153, 153, 153, 0.13);
	width: 100%;
	outline: none;
	padding: 5px;
}

.description-row select {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	margin-bottom: 30px;
	border: 1px solid rgba(153, 153, 153, 0.13);
	padding: 5px;
}

.card-update-btn {
	cursor: pointer;
	display: flex;
	justify-content: center;
	color: #fff;
	background: darkgreen;
	padding: 8px 0;
	border: none;
	width: 100%;
}

.disabled {
	pointer-events: none;
	background: darkgrey;
	cursor: default;
}

.card-remove-icon {
	display: block;
	position: absolute;
	right: 4px;
	top: 4px;
	width: 18px;
	height: 18px;
}

.card-remove-icon svg {
	width: 100%;
	fill: indianred;
}

.card-remove-icon:hover svg {
	fill: #585757;
}