.container {
	max-width: 1120px;
	margin: 0 auto;
	padding: 30px 40px;
}

.header {
	background: #fff;
	max-width: 1120px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 24px;
}

.header-container {
	display: flex;
	justify-content: flex-end;
	padding: 20px 40px;
}

.auth-info-container {
	display: flex;
}

.user {
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 20px;
}

.auth-link a {
	cursor: pointer;
	color: #444;
	text-decoration: none;
	border-bottom: 1px solid #444;
}

.auth-link a:hover {
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.content {
	margin: 0 -5px;
}

.main-row-container {
	margin-bottom: 30px;
}

.main-row {
	display: flex;
	flex-wrap: wrap;
}

.card-group {
	margin-bottom: 50px;
}

.card-wrap {
	cursor: pointer;
	padding: 5px;
}

.card {
	position: relative;
	background: #fff;
	flex: 0 0 200px;
	width: 200px;
	border: 1px solid rgba(176, 175, 175, 0.52);
	padding: 10px;
}

.open-group {
	display: block;
	position: absolute;
	right: 3px;
	bottom: 3px;
	width: 20px;
	height: 16px;
	transition-duration: 0.4s;
}

.open-group.active {
	transform: rotate(180deg);
}

.open-group svg {
	width: 100%;
	height: 100%;
}

.card-item {
	margin-left: 15px;
	visibility: visible;
	opacity: 1;
	transition: all 0.5s ease 0s;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease 0s;
}

.displayNone {
	display: none;
}
