<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/static/base.css" type="text/css"/>
	<link rel="stylesheet" href="/static/db_error.css" type="text/css"/>
	<title>DB error</title>
</head>
<body>
	<div class="container">
		<div class="content">
			<h1>DB Error</h1>
			<div class="error-message">
				<? if(!empty($e->getMessage())): ?>
					<?= $e->getMessage() ?>
				<? endif ?>
			</div>
		</div>
	</div>
</body>
</html>

