<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/static/base.css" type="text/css"/>
	<link rel="stylesheet" href="/static/index.css" type="text/css"/>
	<title>Main page</title>
</head>
<body>
	<div class="header">
		<div class="header-container">
			<div class="auth-info-container">
				<? if($isAuth): ?>
					<div class="user">Admin</div>
				<? endif ?>
				<div class="auth-link">
					<? if($isAuth): ?>
						<a href="/?action=logout">Logout</a>
					<? else: ?>
						<a href="/?action=login">Login</a>
					<? endif ?>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="content">
			<div class="main-row-container">
				<div class="main-row">
					<div class="card-wrap">
						<div class="card">
							<div class="card-title">Card 1</div>
							<div class="card-description">Description card 1</div>
						</div>
					</div>
					<div class="card-wrap">
						<div class="card">
							<div class="card-title">Card 1</div>
							<div class="card-description">Description card 1</div>
						</div>
					</div>
					<div class="card-wrap">
						<div class="card">
							<div class="card-title">Card 1</div>
							<div class="card-description">Description card 1</div>
						</div>
					</div>
				</div>
				<div class="sub-row" style="padding-left: 15px">
					<div class="card-wrap">
						<div class="card">
							<div class="card-title">Card 1</div>
							<div class="card-description">Description card 1</div>
						</div>
					</div>
					<div class="card-wrap">
						<div class="card">
							<div class="card-title">Card 1</div>
							<div class="card-description">Description card 1</div>
						</div>
					</div>
				</div>
				<div class="sub-row" style="padding-left: 30px">
					<div class="card-wrap">
						<div class="card">
							<div class="card-title">Card 1</div>
							<div class="card-description">Description card 1</div>
						</div>
					</div>
					<div class="card-wrap">
						<div class="card">
							<div class="card-title">Card 1</div>
							<div class="card-description">Description card 1</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main-row-container">
				<div class="main-row">
					<div class="card-wrap">
						<div class="card">
							<div class="card-title">Card 1</div>
							<div class="card-description">Description card 1</div>
						</div>
					</div>
					<div class="card-wrap">
						<div class="card">
							<div class="card-title">Card 1</div>
							<div class="card-description">Description card 1</div>
						</div>
					</div>
					<div class="card-wrap">
						<div class="card">
							<div class="card-title">Card 1</div>
							<div class="card-description">Description card 1</div>
						</div>
					</div>
				</div>
				<div class="sub-row" style="padding-left: 15px">
					<div class="card-wrap">
						<div class="card">
							<div class="card-title">Card 1</div>
							<div class="card-description">Description card 1</div>
						</div>
					</div>
					<div class="card-wrap">
						<div class="card">
							<div class="card-title">Card 1</div>
							<div class="card-description">Description card 1</div>
						</div>
					</div>
				</div>
				<div class="sub-row" style="padding-left: 30px">
					<div class="card-wrap">
						<div class="card">
							<div class="card-title">Card 1</div>
							<div class="card-description">Description card 1</div>
						</div>
					</div>
					<div class="card-wrap">
						<div class="card">
							<div class="card-title">Card 1</div>
							<div class="card-description">Description card 1</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
